body{
	font-family: 'lato', sans-serif;
	 background: url('https://images.unsplash.com/photo-1484766280341-87861644c80d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1262&q=80') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	background-size: cover;
  	color: white;
  	overflow: hidden;
  	height: 100%;
}

main {
  padding-top: 50px;
  text-align: center;
}
main h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 200;
}
main button, main select, main label, main input {
  margin: 0 0.5rem;
}
main form {
  margin-top: 1rem;
}
